.home{
    width: 1364px;
    margin: 0;
}
.home h3{
    text-align: center;
}

.img1 {
    width: 70px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
}
.img2{
    margin-left: 50px;
}
.register{
    background-color: white;
    padding-top: 2%;
    border-radius: 30px;
    height: 656px;
}
.register Input{
    margin-top: 15px;
    padding: 2%;
    border-top-style: inherit;
    border-left-style: inherit;
    border-right-style: inherit;
    border-bottom-style: groove;
    border-radius: 0;
}
.register Button{
    margin-top: 7%;
    margin-left: 40%;
    padding-left: 7%;
    border-radius: 20px;
    padding-right: 7%;
}
.register h2{
    text-align: center;
}
.iconca1{
    margin-top: 35px;
    margin-left: -50px;
}
.iconca2{
    margin-top: 50px;
    margin-left: -50px;
}
.iconca3{
    margin-top: 45px;
    margin-left: -50px;
}
.iconca4{
    margin-top: 45px;
    margin-left: -50px;
}
.iconca7{
    margin-top: 45px;
    margin-left: -50px;
}
.iconca8{
    margin-top: 45px;
    margin-left: -50px;
}
.iconca5{
    margin-top: 110px;
    margin-left: -50px;
}
.iconca6{
    margin-top: 45px;
    margin-left: -50px;
}
.register2{
    padding-right: 0;
}
.wrapper{
    margin-left: 10px;
    margin-top: -38px;
}
.wrapper Button{
    margin-left: 166px;
    margin-top: -68px;
    background-color: #3D56F0;
}
.wrapper Input{
    border: #3D56F0 solid 2px;
}
.wrapper Button:hover{
    background-color: #3D56F0;
}
.register ul{
    padding-left: 0;
}
.select{
    width: 550px;
    padding: 10px;
    border-top-style: inherit;
    border-left-style: inherit;
    border-right-style: inherit;
}