/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 10 version
*/

/* Start Project */
@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SFProDisplay-Medium.woff') format('truetype');
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../assets/fonts/SFProText.ttf') format('truetype');
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../assets/fonts/Museo-Sans-Cyrl.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none !important;
}

body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    background-color: #e2e2e2;
}
body::-webkit-scrollbar {
    display: none;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.container {
    max-width: 375px;
    max-height: 800px;
    margin: 0 auto;
}

/*! Login Page */

.login-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    padding: 40px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#feffff), to(#fcfeff));
    background-image: -o-linear-gradient(top, #feffff, #fcfeff);
    background-image: linear-gradient(to bottom, #feffff, #fcfeff);
}

.big-logo-box {
    width: 158px;
    height: 88px;
    margin-top: 15%;
}

.big-logo-box > img {
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: contain;
    object-fit: contain;
}

.login-form {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 60vh;
}

.login-form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.login-form-input {
    width: 100%;
    font-family: 'SF Pro Display';
    font-weight: 400;
    border: 1px solid rgba(0, 0, 0, 0.29);
    border-radius: 10px;
    font-size: 16px;
    letter-spacing: 0.19px;
    padding: 15px 22px;
    outline: 0;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
}

.login-form-input:last-child {
    margin-bottom: 0;
}

.login-form-input::-webkit-input-placeholder,
.login-form-input:-moz-placeholder,
.login-form-input::-moz-placeholder,
.login-form-input:-ms-input-placeholder,
.login-form-input::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.form-btn {
    width: 100%;
    background: #5468ff;
    -webkit-box-shadow: 0px 10px 25px rgba(84, 104, 255, 0.3);
    box-shadow: 0px 10px 25px rgba(84, 104, 255, 0.3);
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 22px 51px;
    cursor: pointer;
    font-family: 'Museo Sans Cyrl', sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.8125px;
    text-transform: uppercase;
    color: white;
    position: relative;
}

.form-btn-login {
    margin-top: 30px;
    margin-bottom: 20px;
}

.form-btn-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 14px;
    right: 14px;
    background-color: #3d56f0;
    border-radius: 50%;
    padding: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.form-btn-svg {
    width: 13px;
}

/* Content Page */
.content-page {
    background-color: #f4fafe;
    padding: 20px 14px 0 14px;
    height: 100%;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: 0;
}

.content-page::-webkit-scrollbar {
    display: none;
}

.content-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 13px;
}

.main-header-logo {
    width: 52px;
    height: 29px;
    -o-object-fit: contain;
    object-fit: contain;
}

.content-link {
    font-size: 13px;
    font-weight: 700;
    font-family: 'SF Pro Display';
    color: #3d56f0;
    position: absolute;
    right: 5px;
    cursor: pointer;
    top: 3px;
}

.content-exit-button {
    border: none;
    background-color: transparent;
    left: 5px;
}

.main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main-content-item {
    font-family: 'SF Pro Text';
    width: 100%;
    background: #ffffff;
    -webkit-box-shadow: 0px 4px 4px rgba(168, 168, 168, 0.25);
    box-shadow: 0px 4px 4px rgba(168, 168, 168, 0.25);
    border-radius: 10px;
    padding: 20px;
    margin: 7px 0;
    cursor: pointer;
}

.main-content-item-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main-content-item-date,
.main-content-item-id {
    font-weight: normal;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
}

.main-content-item-number {
    margin: 14px 0;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: -0.165px;
}
.main-content-item-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main-content-item-sum,
.main-content-item-ball {
    font-size: 16px;
    font-weight: 600;
}
.main-content-item-sum {
    color: #266dd3;
}
.main-content-item-ball {
    color: #00b807;
}

.plus-icon {
    width: 60px;
    height: 60px;
    background-color: #5468ff;
    border-radius: 50%;
    border: none;
    outline: none;
    position: fixed;
    margin-left: 240px;
    /* bottom: 27px; */
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: calc(100vh - 300px);
}

.plus-icon:focus {
    outline: none;
    border: none;
}
.plus-icon > img {
    width: 21px;
    height: 21px;
}

/* Inner content */
.inner-content-container {
    /* Default state */
    visibility: hidden;
    opacity: 0;

    margin: 0 auto;
    overflow: auto;
    max-width: 375px;
    /* height: 100vh; */
    font-family: 'SF Pro Text';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;

    -ms-overflow-style: none;
    scrollbar-width: 0;
}

.inner-content-container::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}
.inner-content {
    padding: 10px 0 0 0;
    width: 80%;
    background-color: white;
    margin-top: 50px;

    -webkit-transition: all 0.4s 0.2s;

    -o-transition: all 0.4s 0.2s;

    transition: all 0.4s 0.2s;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
.inner-content-id {
    padding: 3px 10px;
    background-color: #5468ff;
    color: white;
    font-weight: 400;
    font-size: 14px;
}
.inner-content-client,
.inner-content-sum,
.inner-content-bonus,
.inner-content-paid-bonus,
.inner-content-cashier {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px 10px 20px 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.inner-content-title {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 6px;
    letter-spacing: -0.17px;
}

.inner-content-body-number {
    font-weight: 300;
    font-size: 18px;
}
.inner-content-body-sum {
    font-weight: 600;
    font-size: 19px;
    color: #5468ff;
}

.inner-content-body-bonus,
.inner-content-body-paid-bonus,
.inner-content-body-cashier {
    color: #00b807;
    font-size: 19px;
    font-weight: 600;
}

.inner-content-exit-btn {
    width: 64px;
    height: 64px;
    text-transform: uppercase;
    background-color: white;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    padding: 20px;
}

/* Client-contact page */
.client-contact-page {
    background-color: #f4fafe;
    padding: 20px 40px 40px 40px;
    height: 100%;
}

.client-contact-subtitle {
    width: 93%;
    margin: 0 auto;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.192941px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.client-contact-input {
    margin-top: 70px;
    width: 94%;
    margin: 0 auto;
    display: block;
}

.client-header {
    margin-top: 15px;
    margin-bottom: 45px;
}

.go-back-btn {
    position: absolute;
    left: -25px;
    top: 5px;
    background-color: #3d56f0;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.go-back-btn img {
    transform: rotate(180deg);
    width: 11px;
}

.go-back-btn-balance {
    left: -20px;
}

.go-back-btn-info {
    left: 15px;
    top: 40px;
}

/* Balanced info page */
.balance-page {
    background-color: #f4fafe;
    padding: 20px 35px 40px 35px;
    height: 100%;
}

.form-input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.form-input-info {
    text-align: center;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
}

.login-form-container {
    margin-top: 30px;
    padding: 5px;
}
.balance-input-info {
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
}
.form-btn-balance-page {
    margin-top: 30px;
}

/* Info page */
.info-page {
    background-color: #f4fafe;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px;
    height: 100%;
    position: relative;
}

.info-page-logo {
    width: 125px;
    height: 88px;
}
.info-content-title {
    margin-top: 15px;
    text-align: center;
    letter-spacing: 0.192941px;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 29px;
}

.info-content-list {
    list-style: none;
}
.info-content-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'SF Pro Display';
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 3px 6px;
    margin-bottom: 10px;
}

.info-content-item p {
    color: black;
    font-weight: 600;
}
.info-page-content {
    width: 96%;
}

.form-btn-info {
    margin-top: 25px;
}

/* QR Code image */
.qr-code-page {
    background-color: #f4fafe;
    padding: 40px 24px 24px 24px;
    height: 100%;
}
.qr-code-title {
    font-family: 'SF Pro Text', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.165px;
    margin-bottom: 40px;
}

.qr-code-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    padding: 40px 70px;
}

.qr-code-subtitle {
    font-family: 'SF Pro Text', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.165px;
    margin-top: 30px;
}

.qr-code-btn-icon {
    left: 17px;
    top: 13px;
}

.qr-code-image {
    width: 175px;
    height: 175px;
    -o-object-fit: contain;
    object-fit: contain;
}

.form-qr-code-btn {
    margin-top: 70px;
    margin-bottom: 20px;
}
.qr-code-btn {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

/*! Medias */
@media screen and (max-width: 320px) {
    .login-page {
        padding: 20px;
    }
    .big-logo-box {
        margin-top: 10%;
        width: 150px;
    }

    .login-form-input {
        font-size: 14px;
        padding: 12px 18px;
        margin-bottom: 15px;
    }

    .login-form {
        margin-top: 5vh;
    }

    .form-btn {
        padding: 16px 40px;
    }

    .form-btn-icon {
        width: 25px;
        height: 25px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .info-message {
        font-size: 12px !important;
    }

    /* Main content */
    .main-content-item {
        padding: 10px;
    }

    .main-content-item-date,
    .main-content-item-id {
        font-size: 10px;
    }

    .main-content-item-number {
        font-size: 16px;
    }

    .main-content-item-sum,
    .main-content-item-ball {
        font-size: 14px;
    }

    .plus-icon {
        width: 50px;
        height: 50px;
        margin-left: 180px;
        bottom: 19px;
    }
    .inner-content {
        padding-top: 0;
        margin-top: 10px;
    }
    .inner-content-id {
        font-size: 12px;
    }

    .inner-content-client,
    .inner-content-sum,
    .inner-content-bonus,
    .inner-content-paid-bonus,
    .inner-content-cashier {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }

    .inner-content-title {
        font-size: 12px;
    }
    .inner-content-body-number {
        font-size: 15px;
    }

    .inner-content-body-sum {
        font-size: 16px;
    }
    .inner-content-body-bonus,
    .inner-content-body-paid-bonus,
    .inner-content-body-cashier {
        color: #00b807;
        font-size: 16px;
        font-weight: 600;
    }
    .inner-content-exit-btn {
        width: 50px;
        height: 50px;
        font-size: 16px;
    }

    /* Client content */

    .client-contact-page {
        padding: 20px;
    }
    .client-header {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .client-contact-subtitle {
        margin: 5px;
        font-size: 13px;
    }
    .form-btn {
        font-size: 12px;
    }

    .balance-page {
        padding: 20px;
    }

    .form-input-info {
        font-size: 12px;
    }

    .login-form-container {
        margin-top: 10px;
    }

    .form-btn-balance-page {
        margin-top: 15px;
    }

    /* Info page */
    .info-page {
        padding: 20px;
    }

    .info-content-title {
        font-size: 13px;
        margin-top: 5px;
    }

    .info-content-item {
        font-size: 14px;
    }

    .info-content-item > p {
        font-size: 14px;
    }

    /* QR code page */
    .qr-code-page {
        padding: 20px;
    }
    .qr-code-body {
        padding: 10px;
    }

    .qr-code-title {
        font-size: 13px;
        margin-bottom: 20px;
    }

    .qr-code-image {
        width: 150px;
    }

    .qr-code-subtitle {
        font-size: 13px;
        margin-top: 5px;
    }

    .form-qr-code-btn {
        margin-top: 15px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 230px) {
    .content-link {
        font-size: 11px;
    }

    .big-logo-box {
        width: 100px;
    }

    .plus-icon {
        width: 35px;
        height: 35px;
        margin-left: 150px;
        bottom: 15px;
    }

    .client-contact-subtitle {
        line-height: 1.4;
    }

    .login-page {
        padding: 5px;
    }

    .info-page {
        padding: 5px;
    }

    .balance-page {
        padding: 5px;
    }

    .content-page {
        padding: 5px;
    }
    .qr-code-page {
        padding: 5px;
    }

    .client-contact-page {
        padding: 5px;
    }
}

@media screen and (min-width: 601px) {
    .container {
        height: 800px;
    }

    .plus-icon {
        top: calc(100vh - 100px);
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {
    .container {
        height: 100vh;
        max-width: 100%;
        overflow-y: auto;
    }

    .plus-icon {
        bottom: 27px;
        right: 30px;
    }

    .inner-content-container {
        width: 100%;
        max-width: 100%;
    }
}

@media (min-width: 900px) {
    .container {
        height: 800px;
        margin-top: 0;
    }
    .inner-content-container {
        height: 800px;
        margin-top: calc((100vh - 800px) / 2);
    }
    .plus-icon {
        bottom: 30px;
        margin-top: 0;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        height: 800px;
        margin-top: calc((100vh - 800px) / 2);
        padding-top: 15px;
    }

    .plus-icon {
        top: calc(100vh - 200px);
    }
}

@media screen and (min-width: 1400px) {
    .container {
        height: 800px;
        margin-top: calc((100vh - 800px) / 2);
        padding-top: 15px;
    }

    .plus-icon {
        top: calc(100vh - 200px);
    }
}

@media (min-width: 1400px) and (max-height: 799px) {
    .container {
        height: auto;
        margin-top: calc((100vh - 800px) / 2);
        padding-top: 15px;
    }

    .plus-icon {
        top: calc(100vh - 110px);
    }
}

@media (min-width: 1400px) and (min-height: 799px) {
    .plus-icon {
        /* top: calc(100vh - 170px); */
        top: calc(50vh + 291px);
    }
    .container {
        padding-top: 0;
    }
}

.container::-webkit-scrollbar {
    display: none;
}

@media screen and (min-height: 800px) {
    .container {
        margin-top: calc((100vh - 800px) / 2);
    }
    .plus-icon {
        bottom: calc(50vh - 350px) !important;
    }
}

@media (min-width: 1400px) and (min-height: 799px) {
    .plus-icon {
        /* top: calc(100vh - 170px); */
        top: calc(50vh + 291px) !important;
    }
    .container {
        padding-top: 0;
    }
}
