.order {
    position: absolute;
    width: 92px;
    height: 36px;
    left: 110px;
    top: 120px;

    font-family: 'GothamPro', serif;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */

    text-align: center;
    letter-spacing: 0.1px;

    color: #171725;

}

/* list orders */

.orderList {

    position: absolute;
    width: 1453px;
    height: 54px;
    left: 110px;
    top: 228px;
}


.order1 {

    position: absolute;
    width: 1453px;
    height: 54px;
    left: 110px;
    top: 292px;

}

/* list orders copy */
.order2 {


    position: absolute;
    width: 1453px;
    height: 54px;
    left: 110px;
    top: 356px;
}


/* list orders copy 2 */


/* list orders copy 3 */
.order3 {


    position: absolute;
    width: 1453px;
    height: 54px;
    left: 110px;
    top: 420px;
}


/* list orders copy 4 */
.order4 {

    position: absolute;
    width: 1453px;
    height: 54px;
    left: 110px;
    top: 484px;
}


.order5 {


    position: absolute;
    width: 1453px;
    height: 54px;
    left: 110px;
    top: 548px;
}

/* list orders copy 5 */


.order6 {

    position: absolute;
    width: 1453px;
    height: 54px;
    left: 110px;
    top: 612px;
}

/* list orders copy 6 */


.order7 {

    position: absolute;
    width: 1453px;
    height: 54px;
    left: 110px;
    top: 676px;
}

/* list orders copy 7 */


.order8 {


    position: absolute;
    width: 1453px;
    height: 54px;
    left: 110px;
    top: 740px;
}

/* list orders copy 8 */
.order9 {

    position: absolute;
    width: 1453px;
    height: 54px;
    left: 110px;
    top: 804px;
}


/* list orders copy 9 */

.order10 {
    position: absolute;
    width: 1453px;
    height: 54px;
    left: 110px;
    top: 868px;

}


/* list orders copy 10 */


.order11 {
    position: absolute;
    width: 1453px;
    height: 54px;
    left: 110px;
    top: 932px;

}


/* list orders copy 11 */


/* list orders copy 12 */
.order12 {


    position: absolute;
    width: 1453px;
    height: 54px;
    left: 110px;
    top: 996px;
}


/* list orders copy 13 */
.order13 {

    position: absolute;
    width: 1453px;
    height: 54px;
    left: 110px;
    top: 1060px;
}


/* Статус Номер заказа */


/*position: absolute;*/
/*width: 1402px;*/
/*height: 24px;*/
/*left: 129px;*/
/*top: 186px;*/

/*font-family: 'GothamPro';*/
/*font-size: 14px;*/
/*line-height: 24px;*/
/*!* identical to box height, or 171% *!*/

/*letter-spacing: 0.1px;*/

/*color: #44444F;*/

/*mix-blend-mode: normal;*/
/*opacity: 0.5;*/