body{
    background-color: rgba(231, 229, 229, 0.73);
}

.img{
    /*width: 30%;*/
    /*margin: -30px -67% -35%;*/
    position: absolute;
    width: 300px;
    height: 750px;
    left: 0;
    top: -7px;

    background: rgba(246, 246, 246, 0);
}
.registerCom{
    position: absolute;
    width: 179px;
    height: 14px;
    left: 356px;
    top: 20px;

    font-family: 'GothamPro', serif;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.0625px;

    color: #000000;
}
/*.logo{*/
/*    position: absolute;*/
/*    width: 70px;*/
/*    height: 68px;*/
/*    left: 373px;*/
/*    top: 267px;*/

/*    background: url();*/
/*}*/
.companyImg{
    position: absolute;
    width: 106px;
    height: 115px;
    left: 356px;
    top: 140px;

    background: #E2E2EA;
    border-radius: 5px;
}
.oval{
    position: absolute;
    width: 36px;
    height: 36px;
    left: 25px;
    top: 130px;
}
.malumot{
    position: absolute;
    width: 200px;
    height: 140px;
    left: 80px;
    top: 140px;
    font-size: 15px;
    color: #000000;
}
.done{
    position: absolute;
    left: 34px;
    right: 16.10%;
    top: 19.90%;
    bottom: 27.29%;
}
.compImg1{
    /*width: 15%;*/
    /*margin: -130% 45% -60%;*/
    position: absolute;
    width: 95px;
    height: 52px;
    left: 34px;
    top: 37px;
}
.compLogo{
    position: absolute;
    width: 70px;
    height: 68px;
    left: 373px;
    top: 180px;
}
.compImg2{
    /*width: 30%;*/
    /*margin: -140% 90% -80%;*/
    position: absolute;
    width: 284px;
    height: 277px;
    left: 1173px;
    top: 307px;

    mix-blend-mode: normal;
    opacity: 0.8;
}
.informationComp{
    position: absolute;
    width: 331px;
    height: 24px;
    left: 356px;
    top: 50px;

    font-family: 'GothamPro', serif;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.104167px;

    color: #000000;
}
.logotipCom{
    position: absolute;
    width: 135px;
    height: 13px;
    left: 356px;
    top: 100px;

    font-family: 'GothamPro', serif;
    font-size: 14px;
    line-height: 16px;

    color: #787993;
}
.main-div {
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 550px;
    padding-top: 30px;
}

.company-name {
    left: 356px;
    margin-top:40%;
    padding-bottom: 10px;
}

.company-bio {
    margin-top: 30px;
    padding-bottom: 10px;
}

.company-description {
    margin-top: 30px;
    padding-bottom: 10px;
}

.company-cPercentage {
    margin-top: 30px;
    padding-bottom: 10px;
}

.company-attachment {
    margin-top: 30px;
    padding-bottom: 10px;
}
.registerComp {
    width: 100px;
    margin-top: 30px;
    margin-left: 450px;
}
.comp{
   margin-top: 70px;
}
.loginCompany{
    margin-top: 100px;
}
.loginCompany h2{
    text-align: center;
}
.iconcaCom1{
    margin-top: 30px;
    margin-left: -70px;
}
.iconcaCom2{
    margin-top: 80px;
    margin-left: -70px;
}
.home{
    background: rgba(193, 199, 208, 0.388767)
}
.loginCom{
    background-color: white;
    border-radius: 20px;
}
.loginCom Input{
    margin-top: 15px;
    padding: 2%;
    border-top-style: inherit;
    border-left-style: inherit;
    border-right-style: inherit;
    border-bottom-style: groove;
    border-radius: 0;
}
.loginCom Button {
    margin-top: 7%;
    margin-left: 40%;
    padding-left: 7%;
    border-radius: 20px;
    padding-right: 7%;
}
.regCom{
    background-color: white;
    margin-left: 400px;
    padding: 10px 20px;
    border-radius: 20px;
    color: #111111;
}
.iconca3{
    margin-top: 40px;
    margin-left: -50px;
}
.iconca5{
    margin-top: 45px;
    margin-left: -50px;
}
.comPagination{
    margin-left: 50px;
    margin-top: 200px;
}