.compButton{
    background-color: #003bff;
}
.compButton:hover{
    background-color: #003bff;
}
.icon1{
    margin-top: -50px;
    margin-left: 430px;
}
.icon2{
    margin-top: -35px;
    margin-left: 430px;
}
